#mainBubble {
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0);
    font: 10px sans-serif;
    position: relative;
    width: 95%;
    height: 300px !important;
}

#mainBubble svg {
    left: 0;
    position: absolute;
    top: 0;
    height: 300px
}

#mainBubble circle.topBubble {
    fill: #aaaaaa;
    stroke: #666;
    stroke-width: 1.5px;
}

